<% layout('layouts/boilerplate') %>
<div class="row">
    <h1 class="text-center">New Task</h1>
    <div class="col-6 offset-3">
        <form action="/tasks" method="POST" novalidate class="validated-form">
            <div class="mb-3">
                <label class="form-label" for="taskname">Task</label>
                <input class="form-control" type="text" id="taskname" name="task[taskname]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="taskdescription">Task Description</label>
                <input class="form-control" type="text" id="taskdescription" name="task[taskdescription]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="time">Time</label>
                <input class="form-control" type="datetime-local" id="time" name="task[time]" required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
           
            <div class="mb-3">
                <button class="btn btn-success">Add Task</button>
            </div>
            
        </form>
        <a href="/tasks">All Tasks</a>
    </div>
</div>

